/* SilverWare Google Module CMS CSS Definitions:
===================================================================================================================== */

/* Spinner Styles:
===================================================================================================================== */

.geocode-spinner {
  padding-top: 8px;
  position: absolute;
}

/* Map Styles:
===================================================================================================================== */

.geocode-map-preview {
  display: none;
}

.geocode-map-wrapper {
  width: 512px;
  height: 300px;
  padding: 10px;
  border: 1px solid #C4C6C8;
  background-color: #fff;
  box-sizing: border-box;
}

.geocode-map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
